@media (max-width: 1440px){
    .main-wrapper{
        width: 100vw;
    }
}

.back-text{
    position: relative;
    z-index: -2000;
}


.reviews{
    /* margin-top: 10rem; */
    overflow: hidden;
}

.reviews-title{
    text-align: center;
    margin-bottom: 7rem;
}

.reviews-title p{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
}

.reviews-card{
    display: grid;
    grid-template-columns: 1fr 480px;
    width: 781px;
}

@media (max-width: 425px){
    .reviews-card{
        grid-template-columns: 1fr;
        width: fit-content;
    }
}
.card-img{
    width: fit-content;
    height: fit-content;
}

.card-text{
    background-color: white;
    padding: 2rem 4rem; 
    height: 359px;
    overflow: hidden;
}

@media (max-width: 425px){
    .card-text{
        padding: 1rem 2rem;
        width: 70vw;
        height: fit-content;
    }
}

.card-title p{
    font-weight: 800;
    font-size: 2rem;
    line-height: 105.52%;
}

.card-para{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.card-author{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.reviews-row{
    display: flex;
    gap: 2rem;
}

@media (max-width: 425px){
    .card-title p{
        font-weight: 700;
        font-size: 1rem;
    }

    .card-para p{
        font-size: 0.7rem;
    }

    .card-author p{
        font-size: 0.7rem;
    }
    .reviews-row{
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
    }
    .reviews img{
        width: 70vw;
    }
}

.row-first, .row-third{
    animation: move-first 20s linear infinite;
    margin-bottom: 2rem;
}

.row-second{
    transform: translateX(-1000px);
    animation: move-second 20s linear infinite;
    margin-bottom: 2rem;
}


@media (max-width: 425px){
    .row-second, .row-third{
        display: none;
    }

    .row-first{
        animation: none;
    }
}

@keyframes move-first{
    50%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes move-second{
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1000px);
    }
}