/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    /* background: #9B59B6; */
}

/*  Navbar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo {
    color: #111;
}

.sticky .navigation li a {
    color: #111;
}

nav .logo {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: none;
}

.logo_legal {
    border-radius: 15px;
    width: 190px;
}

nav .logo span {
    color: #ff0157;
}

nav .navigation {
    position: relative;
    display: flex;
}

nav .navigation li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 1.5em;
    transition: .5s;
}

nav .navigation li a:hover {
    color: #ff0157;
}

nav {
    font-size: 12px;
}

@media screen and (max-width: 650px) {

    .title {
        color: grey;
    }

    /* ................. */

    @media (max-width: 991px) {

        nav,
        nav .sticky {
            padding: 10px 20px;
        }

        nav .navigation {
            display: none;
        }

        nav .navigation.active {
            width: 100%;
            height: calc(100% - 68px);
            position: fixed;
            top: 68px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
        }

        nav .navigation li {
            margin-left: 0;
        }

        nav .navigation li a {
            color: #111;
            font-size: 1.6em;
        }

        .menutoggle {
            position: relative;
            width: 40px;
            height: 40px;
            background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        .menutoggle.active {
            background: url(https://i.postimg.cc/yNcK65Gc/close.png);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .sticky .menutoggle {
            filter: invert(1);
        }

        section {
            padding: 20px;
        }

        .banner .content h2 {
            font-size: 3em;
            color: #fff;
        }

        .contactform {
            padding: 40px 30px;
        }

        .sticky {
            padding: 10px 30px;
        }
    }

}

/*  Main calender */
.wrapper {
    width: 300px;
    margin-top: 10%;
    padding-bottom: -200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 20px;
    width: 20px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.1rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

/* .calendar .days {
    margin-bottom: 5px;
} */

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.0rem;
    font-weight: 300;
}

.calendar .weeks li {
    font-weight: 400;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #FFCC80;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

#slot {
    display: block;

}

#slot button {
    width: 100%;
}