* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F1F1F1;
}

/* Add a grid container for appointment cards */
.appointment-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Display 3 columns */
  grid-gap: 70px;
  /* Adjust as needed */
  padding: 80px;
  /* Adjust as needed */
}

/* Style for the appointment card */
.appointment-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #102D47;
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

/* Add any additional styles as needed */
.navbar {
  background-color: #F89D1F;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-left: 28px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#profile,
#logout {
  font-size: 24px;
  margin-right: 20px;
  background-color: #102D47;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}