body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fcf5eb;
  color: white;
}

.navbar {
  background-color: #f89d1f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.form-container {
  background-color: #f89d1f;
  padding: 20px;
  margin: 148px auto;
  max-width: 500px;
  border-radius: 10px;
  animation: slideDownAnimation 1.5s ease forwards;
  opacity: 0;
}

.form-container h1 {
  margin-top: 0;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 18px;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.form-container button {
  padding: 10px;
  background-color: #102d47;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #134c7a;
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
.logo img {
  width: 210px;
  height: 48px;
}

.slide-down {
  animation: slideDownAnimation 1.5s ease forwards;
  opacity: 0;
}

@keyframes slideDownAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sliding-box {
  position: fixed;
  top: -200px; /* Start above the form container */
  right: 20px;
  width: 200px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 0 10px #f89d1f;
  transition: top 0.5s ease;
  z-index: 999;
}

.sliding-box.active {
  top: 124px; /* Slide in to top of the form container */
}

.sliding-box h2,
.sliding-box p {
  margin: 0;
  color: #333;
}
.form-container textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  resize: vertical; /* Allows vertical resizing of the text area */
}
