* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FCF5EB;
}

.navbar {
  background-color: #F89D1F;
  color: #fff;
  text-align: center;
  padding: 14px;
  font-size: 30px;
}

.profile-container {
  max-width: 40%;
  margin: 20px auto;
  background-color: rgb(241, 237, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 1s ease;
  border-radius: 20px;
}

.profile-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
  animation: bounce-in 1s ease;
}

.profile-details {
  text-align: center;
  animation: slide-in 1s ease;
  width: 60%;
}

h2 {
  margin-bottom: 10px;
  color: #102D47;
  font-size: 42px;
}

p {
  margin-bottom: 40px;
  color: #102D47;
  background-color: #F89D1F;
  font-size: 24px;
  padding: 10px;
  border-radius: 8px;
}

.editBtn {
  margin-bottom: 40px;
  color: white;
  background-color: #102D47;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
}

#logout {
  font-size: 24px;
  margin-right: 20px;
  background-color: #102D47;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}

#appointment {
  font-size: 24px;
  margin-right: 20px;
  background-color: #102D47;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}

.email-element,
.location-element,
.specialization-element,
.practice-areas-element {
  color: #102D47;
  font-weight: bold;
}

.profile-button {
  background-color: #F89D1F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #F57400;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}